<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.playfun.pcard">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_poker"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_poker"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <receiver
            android:name="com.playfun.pcard.ReferrerDataReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <activity
            android:name="com.playfun.pcard.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <activity android:name="com.facebook.FacebookActivity" android:configChanges= "keyboard|keyboardHidden|screenLayout|screenSize|orientation" android:label="@string/app_name" />
        <activity android:name="com.facebook.CustomTabActivity" android:exported="true">
            <intent-filter> <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name="com.playfun.pcard.LessonActivity"/>
        <activity android:name="com.playfun.pcard.Lesson2Activity"/>
        <activity android:name="com.playfun.pcard.Lesson3Activity"/>
        <activity android:name="com.playfun.pcard.Lesson4Activity"/>
        <activity android:name="com.playfun.pcard.Lesson5Activity"/>
        <activity android:name="com.playfun.pcard.Lesson6Activity"/>
        <activity android:name="com.playfun.pcard.Lesson7Activity"/>
        <activity android:name="com.playfun.pcard.Lesson8Activity"/>
        <activity android:name="com.playfun.pcard.Lesson9Activity"/>
        <activity android:name="com.playfun.pcard.Lesson10Activity"/>
        <activity android:name="com.playfun.pcard.Lesson11Activity"/>
        <activity
            android:launchMode="singleTask"
            android:name="com.playfun.pcard.ui.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="com.playfun.pcard.ui.WebViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask">
        </activity>

        <activity android:name="com.playfun.pcard.ui.DeepLinkWebView"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="u2158156.ct.sendgrid.net"
                    android:scheme="https"/>
            </intent-filter>
        </activity>

        <activity android:name="com.playfun.pcard.ui.ContentActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
    </application>

</manifest>